npm config set registry https://registry.npmmirror.com/
electron-mirror=https://npm.taobao.org/mirrors/electron/
; Fix npm WARN.
; https://stackoverflow.com/questions/51293566/how-to-include-the-path-for-the-node-binary-npm-was-executed-with
scripts-prepend-node-path=true
